@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-principal{
  background: linear-gradient(to left, #262626, #333333);
  height: 150px;
  width: 100%;
}
.menu-principal main{
  width:100%;
  height: 150px;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  align-items: center;
}
.titulo-principal{
  font-family: 'Roboto', sans-serif;
  color: #ff3333;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px #ff3333;
}
.redes-sociais{
  justify-self: center;
  opacity: 0.8;
}
.discord:hover{
  width:80px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition:0.3s;
}
.facebook:hover{
  width: 80px;
  transition:0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition:0.3s;
}
.facebook{
  margin-right:20px
}
.header-2{
  background-color: #ffffff;
  width: 100%;
  border-bottom: 4px solid #d9d9d9;
  height: 84px;
}
main{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.menu ul li a{
  color: #8b8b8b;
  text-decoration: none;
  margin-left: 15px;
}
.menu ul li{
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.menu{
  width: 100%;
}
nav{
  padding: 20px;
}
.menu ul li a:hover{
  color: red;
  border-bottom: 2px solid red;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.col-100{
  width:100%;
  height: 65%;
}
button.slick-prev{
  font-size: 0px;
  border: none;
  width: ;
  height:;
  background-color: transparent;
  background-image: url('../img/leftarrow.png');
  z-index: 9;
  position: absolute;
  top:20%;
  left:0;
  outline: 0px;
}
button.slick-next{
  font-size: 0px;
  border: none;
  width: ;
  height:;
  background-color: transparent;
  background-image: url('../img/rightarrow.png');
  z-index: 8;
  position: absolute;
  top:20%;
  right:0;
  outline: 0px;
}
.slider-principal{
  width:100%;
}
.slick-dots li button{
  font-size: 0px;
  border: 5px solid white;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  cursor:pointer
}
.slick-dots{
  margin: 0 auto;
  width:50%;
  position:relative;
  left: 50%;
  top: 600px;
}
li.slick-active button{
  background: red;
  z-index: 8;
}
.slick-dots li{
  display:inline-block;
  padding-left: 10px;
}
.slick-initialized{
  overflow: hidden;
}
.levels{
  display: grid;
  grid-template-columns: 1fr;
  font-family:'Roboto', sans-serif;
  color: #8b8b8b;
  font-size: 1.2em;
}
#levels-img{
  margin-bottom: 40px;
}
.footer1{
  display: grid;
  grid-template-columns: 1fr, 1fr;
  justify-content: center;
}
.tags ul li{
  font-family:'Roboto', sans-serif;
  font-size: 1.1em;
  color: white;
}
.tags ul li:hover{
  border-bottom: 1px solid white;
}
.footer1{
  background: linear-gradient(to left, #262626, #333333);
  width: 100%;
  height: 200px;
  font-family:'Roboto', sans-serif;
  font-size: 1.1em;
  color: white;
}
#copy{
  font-family:'Roboto', sans-serif;
  font-size: 1.1em;
  display: inline;
}
.footer2{
  background:  #1a1a1a;
  width: 100%;
  height: 30px;
  font-family:'Roboto', sans-serif;
  font-size: 1.1em;
  color: white;
}
.footer2 main{
  display:grid;
  grid-template-columns: 1fr, 1fr;
}
